.container {
  width: 800px;
  margin: 0 auto;
}

.title {
  text-align: center;
}

.author.selected {
  background-color: lightblue;
}

.author {
  cursor: pointer;
  display: inline-block;
  padding: 10px;
  border: 2px solid black;
  margin: 5px;
}

table {
  margin-left: auto;
  margin-right: auto;
}

.table-head {
  background-color: lightgrey;
}

th,
td {
  padding: 5px 20px;
  border-bottom: 1px solid black;
}

button {
  padding: 0;

  cursor: pointer;
  border: none;
  background-color: white;
  color: blue;
  text-decoration: underline;
}
